.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.activeReport {
    vertical-align: middle;
    border: 1px solid;
    border-radius: 500px;
    background: black;
    text-align: center;
    color: white;
    height: 68px;
    padding: 19px;
}

.activeNoReport {
    vertical-align: middle;
    height: 68px;
    padding: 19px;
}

.test:after {
    content: '\2807';
    font-size: 100px;
}

.filterBorder {
    border: 1px solid;
    padding: 10px;
    background: white;
    border-radius: 21px;
}

.progressBorder {
    border: 1px solid;
    padding: 10px;
    background: white;
    border-radius: 11px;
}

.paymentItem {
    border: 1px solid;
    padding: 56px;
    background: white;
    border-radius: 18px;
    margin-left: 2%;
    text-align: center;
}

.activeButton {
    background-color: green !important;
}