body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.top-section {
    padding: 20px !important;
}

.top-left {
    font-weight: bold !important;
    color: #151414 !important;
    background: none !important;
    border: solid 1px !important;
}

.top-right {
    color: #fafafa;
}

.menu-item {
    background: rgb(255, 149, 89);
    justify-content: center;
    display: flex;
    padding: 54px;
    font-size: 75px;
    padding: 30px;
    color: white;
    cursor: pointer;
}

.menu-text {
    font-size: 18px;
    text-align: center;
}

.main-container {
    padding: top 5%;
    padding: left 10%;
    padding-right: 10%;
}

.nav-item {
    background: #b60144;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
}

.nav-link {
    color: white ;
    text-align: center;
}

.nav-link.active {
    background: #b60144 !important;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.tag-item {
    border: 2px solid;
    background-color: #787474;
    border-radius: 15px;
    color: white
}

.container-height {
    min-height: 90vh;
}

.section-container {
    border: 1px solid;
    padding: 10px;
    border-color: crimson;
}

.pad-left {
    padding-left: 10%;
}

.head-nav-links .nav-link {
    color: #151414;
}